[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kfp = {git = "https://github.com/kubeflow/pipelines.git", ref = "df28e891c4374f7eac98cc6a4892b6e6c35a43f2", subdirectory = "sdk/python"}
kfp-kubernetes = "*"
click = "*"
ruff = "*"
pyyaml = "*"
kubernetes = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.12"
